/* common */
:root{
  --todo-lighter:#ffffff; 
  --todo-light:#f6f8f9;
  --todo-light-darker:#c7cdd1; 
  --todo-dark:#000000; 
  --todo-primary:#47adf1;
  --todo-secondary:#64c0a9;
  --todo-secondary-light:#b0c926;
  --todo-third:#9c72e4;
  --todo-third-light:#d963a1;
  --todo-variation:#f29e33;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--todo-light);
}

/* header */

.site-header{
  height: 70px;
  background-color: #fbfbfb;
  padding: 1rem;
  line-height: 70px; 
}

h1{
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;   
}

/* taskbar */
.taskbar{
  background-color:var(--todo-lighter);
  margin: 2rem 10rem;
  margin-bottom: 3px;
  height: 3rem;  
}

.button-taskbar{
  display: inline-block;
  padding:0.25rem;
  margin: 1rem 0.25rem;
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid black;
}

#add-task{
  background-color: var(--todo-primary);
  border-color: var(--todo-primary);
  color: var(--todo-lighter);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 2rem;
}

#add-section{
  border-color: var(--todo-light-darker);
  color: var(--todo-light-darker);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 0.25rem;
}

/* to do list */
.todo-list{
  margin: 1rem 10rem;
  background-color: var(--todo-lighter);
  margin-top: 5px;

}
ul{
  list-style: none;
  background-color: var(--todo-lighter);
  padding: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

li{
  padding-bottom: 1.5rem;
}

p{
  padding: 0.5rem;
}

.circle-checked{

  border: 1px solid rgb(9, 198, 9);
  color: rgb(9, 198, 9);
  border-radius: 100%;
  align-items: center;
}

.circle-cross{
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  border-radius: 100%;
  text-align: center;
}

/* tag */
.tag{
  padding: 4px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 10px;
  color: white;
}

#editorial{
  background-color: var(--todo-primary);
  border-color: var(--todo-primary);
}

#q1-goals{
  background-color: var(--todo-third);
  border-color: var(--todo-third);
}

#recruting{
  background-color: var(--todo-secondary);
  border-color: var(--todo-secondary);
}

#mobile{
  background-color: var(--todo-variation);
  border-color: var(--todo-variation);
}

#website{
  background-color: var(--todo-third-light);
  border-color: var(--todo-third-light);
}

#sales{
  background-color: var(--todo-secondary-light);
  border-color: var(--todo-secondary-light);
}
